{
    "openapi": "3.1.0",
    "info": {
        "title": "Plotweaver AI Voice API",
        "version": "0.1.0"
    },
    "servers": [
        {
          "url": "https://voice.plotweaver.app",
          "description": "Testing Server"
        }
    ],
    "paths": {
        "/v1/videos/subtitle": {
            "post": {
                "tags": [
                    "Video"
                ],
                "summary": "Subtitle Video File",
                "description": "**Generate and Overlay Subtitles onto a Video**\n\nProcesses an input video to extract audio, generate transcriptions,\nand burn-in or side-load subtitles based on the provided configuration.",
                "operationId": "subtitle_video_file_v1_videos_subtitle_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubtitleVideoModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/voices/stream": {
            "post": {
                "tags": [
                    "Voice"
                ],
                "summary": "Stream Audio File",
                "description": "**Stream Real-Time AI Audio Synthesis**\n\nConverts text to speech and streams the resulting audio data back to the client\nin real-time. This endpoint is designed for low-latency applications where\nplayback should begin before the entire file is generated.",
                "operationId": "stream_audio_file_v1_voices_stream_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StreamAudioModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/audio_books/": {
            "get": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "List Audio Books",
                "operationId": "list_audio_books_v1_audio_books__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/AudioBookModel"
                                    },
                                    "type": "array",
                                    "title": "Response List Audio Books V1 Audio Books  Get"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "Create Audio Book",
                "operationId": "create_audio_book_v1_audio_books__post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAudioBookModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudioBookModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/v1/audio_books/{audio_book_id}": {
            "get": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "Get Audio Book",
                "operationId": "get_audio_book_v1_audio_books__audio_book_id__get",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "audio_book_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Audio Book Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudioBookModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "Update Audio Book",
                "operationId": "update_audio_book_v1_audio_books__audio_book_id__patch",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "audio_book_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Audio Book Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAudioBookModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudioBookModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "Delete Audio Book",
                "operationId": "delete_audio_book_v1_audio_books__audio_book_id__delete",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "audio_book_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Audio Book Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AudioBookModel": {
                "properties": {
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the text file.",
                        "examples": [
                            "s3://bucket/audio/lesson_1.txt"
                        ]
                    },
                    "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "The title of your audiobook",
                        "examples": [
                            "The Great Gatsby: Afro-Centric Edition"
                        ]
                    },
                    "action_type": {
                        "type": "string",
                        "enum": [
                            "dubbing_and_subtitle",
                            "dubbing_only",
                            "subtitle_only"
                        ],
                        "title": "Action Type",
                        "description": "Must be one of the three specific strings defined.",
                        "examples": [
                            "dubbing_and_subtitle"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "Yoruba"
                        ]
                    },
                    "audio_book_cover": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Audio Book Cover",
                        "description": "Public Accessible URI to an image to be used as the Audio Book Cover",
                        "examples": [
                            "https://example.com/covers/cover01.jpg"
                        ]
                    },
                    "target_languages": {
                        "items": {
                            "$ref": "#/components/schemas/Language"
                        },
                        "type": "array",
                        "title": "Target Languages",
                        "description": "A JSON array of valid Language enum values",
                        "examples": [
                            [
                                "Igbo",
                                "English",
                                "Swahili"
                            ]
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "name",
                    "action_type",
                    "source_language",
                    "audio_book_cover",
                    "target_languages"
                ],
                "title": "AudioBookModel"
            },
            "CreateAudioBookModel": {
                "properties": {
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the text file.",
                        "examples": [
                            "s3://bucket/audio/lesson_1.txt"
                        ]
                    },
                    "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "The title of your audiobook",
                        "examples": [
                            "The Great Gatsby: Afro-Centric Edition"
                        ]
                    },
                    "action_type": {
                        "type": "string",
                        "enum": [
                            "dubbing_and_subtitle",
                            "dubbing_only",
                            "subtitle_only"
                        ],
                        "title": "Action Type",
                        "description": "Must be one of the three specific strings defined.",
                        "examples": [
                            "dubbing_and_subtitle"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "Yoruba"
                        ]
                    },
                    "target_languages": {
                        "items": {
                            "$ref": "#/components/schemas/Language"
                        },
                        "type": "array",
                        "title": "Target Languages",
                        "description": "A JSON array of valid Language enum values",
                        "examples": [
                            [
                                "Igbo",
                                "English",
                                "Swahili"
                            ]
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "name",
                    "action_type",
                    "source_language",
                    "target_languages"
                ],
                "title": "CreateAudioBookModel"
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "Language": {
                "type": "string",
                "enum": [
                    "Igbo",
                    "Zulu",
                    "Yoruba",
                    "French",
                    "English",
                    "Amharic",
                    "Swahili"
                ],
                "title": "Language"
            },
            "StreamAudioModel": {
                "properties": {
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the audio file.",
                        "examples": [
                            "s3://bucket/audio/lesson_1.mp3"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "Yoruba"
                        ]
                    },
                    "target_languages": {
                        "items": {
                            "$ref": "#/components/schemas/Language"
                        },
                        "type": "array",
                        "title": "Target Languages",
                        "description": "A JSON array of valid Language enum values",
                        "examples": [
                            [
                                "Igbo",
                                "English",
                                "Swahili"
                            ]
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "source_language",
                    "target_languages"
                ],
                "title": "StreamAudioModel"
            },
            "SubtitleVideoModel": {
                "properties": {
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the video file.",
                        "examples": [
                            "s3://bucket/audio/lesson_1.mp4"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "Yoruba"
                        ]
                    },
                    "target_languages": {
                        "items": {
                            "$ref": "#/components/schemas/Language"
                        },
                        "type": "array",
                        "title": "Target Languages",
                        "description": "A JSON array of valid Language enum values",
                        "examples": [
                            [
                                "Igbo",
                                "English",
                                "Swahili"
                            ]
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "source_language",
                    "target_languages"
                ],
                "title": "SubtitleVideoModel"
            },
            "UpdateAudioBookModel": {
                "properties": {
                    "name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    },
                    "action_type": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Action Type"
                    },
                    "source_language": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Source Language"
                    },
                    "audio_book_cover": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Audio Book Cover"
                    },
                    "target_languages": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Target Languages"
                    }
                },
                "type": "object",
                "title": "UpdateAudioBookModel"
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    },
                    "input": {
                        "title": "Input"
                    },
                    "ctx": {
                        "type": "object",
                        "title": "Context"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            }
        },
        "securitySchemes": {
            "HTTPBearer": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    }
}